.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 66px;
  }

  background-color: $white;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  &.is-open {
    display: block;
  }
}

.site-nav {
  &__item {
    position: relative;
    align-content: center;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    &__item {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    &__item:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link {
    text-decoration: none;
    color: $primaty-text-color;

    @media screen and (min-width: 780px) {
      padding: 26px 0px 26px 15px;
    }

    .site-nav__item:hover &,
    &:focus {
      transition: color 250ms $main-transition;
      color: $accent-color;
    }
  }
}

.contacts {
  &__link {
    text-decoration: none;
    color: $second-text-color;
    fill: currentColor;

    .contacts__item:hover &,
    &:focus {
      transition: color 250ms $main-transition;
      color: $accent-color;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 84px;
  }

  @media screen and (max-width: 767px) {
    &__item {
      padding: 8px;
    }
  }

  @media screen and (min-width: 768px) {
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
    &__item:first-child {
      margin-top: 21px;
    }
  }

  & .contacts__text {
    margin-left: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;

    &__item {
      margin-top: 21px;
    }
  }
}

// выбраянная страница
.site-nav__link--chosen {
  color: $accent-color;

  &::after {
    position: absolute;
    content: '';
    display: block;
    background-color: $accent-color;
    background-position: bottom;
    border-radius: 2px;

    width: 61px;
    height: 4px;
    left: 0;
    bottom: 0;

    left: 20%;
    bottom: 0%;

    @media screen and (max-width: 767px) {
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -8px;
    }
  }
}
