// основной контейнер шапки
header {
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav {
  display: flex;
  // justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 768px) {
    position: relative;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

// ЛОГО
.header-nav__logo {
  text-decoration: none;

  @media screen and (max-width: 779px) {
    padding: 16px 0px 16px 0px;
  }

  &-web,
  &-studio {
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  &-web {
    color: $accent-color;
  }
  &-studio {
    color: $primaty-text-color;
  }
}
