.menu-button {
  display: inline-flex;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  margin-right: 15px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu,
.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross {
  fill: $accent-color;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
