// строчка с соглашением

.agreement-text {
  display: inline-flex;
  font-family: $main-font;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  color: $second-text-color;
  width: 100%;
  font-size: 12px;
  line-height: 1.16;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }

  @media screen and (max-width: 479px) {
    font-size: 10px;
    line-height: 1.16;
  }

  &__checkbox {
    position: absolute;
    width: 1;
    height: 1;
    margin: -1;
    clip: rect(0 0 0 0);
    border: 0;
    overflow: hidden;
  }

  &__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url(../images/off.svg);
    margin-right: 8px;
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
      margin-right: 3px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .agreement-text__checkbox:focus + & {
      background-image: unset;
      border: 2px solid $accent-color;
      border-radius: 2px;
    }

    .agreement-text__checkbox:checked + & {
      background-color: $accent-color;
      border-radius: 2px;
      background-image: url(../images/on.svg);
      background-size: contain;
      background-origin: border-box;
    }
  }
}
