.team-section {
  background-color: $background-second-color;
  padding-bottom: 60px;
  max-width: 460px;

  @media screen and (min-width: $tablet) {
    max-width: 748px;

    &-box {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1180px;
    padding-bottom: 94px;
  }
}

/* H2 */
.section-heading {
  margin-bottom: 50px;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
  }
}

.team-section-box__item {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }

  @media screen and (max-width: 767px) {
    flex-basis: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
    &:not(:nth-last-child(2n-1)) {
      margin-right: 30px;
    }
  }

  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &__item {
    background-color: #fff;
  }
}

.social-links-box {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;

  &-item {
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      border-radius: 50%;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.link-icon-box {
  display: block;

  .social-link-icon {
    display: block;
    width: 44px;
    height: 44px;
    fill: $icons-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: $white;
    }
  }
}

.team-member-position {
  color: $second-text-color;
}

.team-member-position,
.team-member-name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member-name {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-member-position {
  margin-bottom: 16px;
}
