.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 767px) {
    & li:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }

  .portfolio-button {
    display: inline-block;
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    color: $primaty-text-color;
    background-color: $background-second-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $white;
      border-color: $accent-color;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);

      border-radius: 4px;
      outline: none;

      cursor: pointer;
    }
  }
}
