@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}
@keyframes trembling {
  0% {
    -webkit-transform: skew(1, 1);
    transform: skew(1, 1);
  }
  25% {
    -webkit-transform: skew(-2deg, 2deg) scale(1.03, 1.03);
    transform: skew(-2deg, 2deg) scale(1.03, 1.03);
  }
  50% {
    -webkit-transform: skew(1, 1);
    transform: skew(1, 1);
  }
  75% {
    -webkit-transform: skew(2deg, -2deg) scale(1.05, 1.05);
    transform: skew(2deg, -2deg) scale(1.05, 1.05);
  }
  100% {
    -webkit-transform: skew(1, 1);
    transform: skew(1, 1);
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  75% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
