$primaty-text-color: #212121;
$second-text-color: #757575;
$accent-color: #2196f3;
$background-primaty-color: #e5e5e5;
$background-second-color: #f5f4fa;
$white: #ffffff;
$footer-background: #2f303a;
$icons-color: #afb1b8;
$main-font: Roboto, sans-serif;
$main-transition: cubic-bezier(0.4, 0, 0.2, 1);
